body {
    background: #6b5b95;
}

h1, h2, p, span {
    color: #FFDE00;
}

li {
    color: #ff7b25;
}

.board-ul {
    height: 155px;
    width: 160px; 

    display: flex;
    flex-wrap: wrap;
}

.square-li {
    height: 32%; 
    width: 32%;

    border: 1px solid #feb236;

    display: flex;
    justify-content: center;
    align-items: center; 
}